In [1]:
def a11(): print('********************')

In [2]:
a11()
print('String formatting with numbers =>')

age = 29
print('My age is ' + str(age) + ' years')  # Str function converts into to String

# The above manual conversion can be done when there is a
# single value to be converted but when there are multiple
# values to be converted for printing we use =>
# 'String Replacement formatting' here's how it is done

print('My age is {0}'.format(age) + ' years')  # this automatically formats the variable value to the required data type

********************
String formatting with numbers =>
My age is 29 years
My age is 29 years

In [3]:
a11()
print('There are {0} days in {1},{2},{3},{4},{5},{6},{7}'.
      format(31, 'Jan', 'Mar', 'May', 'Jul', 'Aug', 'Oct', 'Dec'))

# Re-using replacement field

print('''   
            January: {2}
            February: {0}
            March: {2}
            April: {1}
            May: {2}
            June: {1}
            July: {2}
            August: {2}
            September: {1}
            October: {2}
            November: {1}
            December: {2}'''.format(28, 30, 31))

# Formatting in Python 2 and earlier version, this will
# be "DEPRECATED" in the future but often we can get Python 2
# code that needs to be converted to Python so these lines of
# code will help us understand how it was done earlier

********************
There are 31 days in Jan,Mar,May,Jul,Aug,Oct,Dec

            January: 31
            February: 28
            March: 31
            April: 30
            May: 31
            June: 30
            July: 31
            August: 31
            September: 30
            October: 31
            November: 30
            December: 31

In [5]:
a11()
print('My age is %d years' % age)  # % age converts age into String
print('My age is %d %s,%d %s' % (age, 'years', 6, 'months'))  # %d stands for Integer & %s stands for String

a11()
for i in range(1, 12):
    print('Nos. %2d Squared is %3d and Cubed is %3d' % (i, i**2, i**3))

a11()    
# Doing the same with the new replacement field Syntax i.e in version Python 3
for i in range(1, 12):
    print('Nos. {0:2} Squared is {1:<4} and Cubed is {2:<4}'.format(i, i**2, i**3))

# here {0:2} meant 0th index value in the format() and
# 2 means 2 characters assigned for the result 
# < means left aligned

a11()
for i in range(1, 12):
    print('Nos. {} Squared is {} and Cubed is {:4}'.format(i, i**2, i**3))

# {} => automatically assumes the ascending index values inside the   format()

********************
My age is 29 years
My age is 29 years,6 months
********************
Nos.  1 Squared is   1 and Cubed is   1
Nos.  2 Squared is   4 and Cubed is   8
Nos.  3 Squared is   9 and Cubed is  27
Nos.  4 Squared is  16 and Cubed is  64
Nos.  5 Squared is  25 and Cubed is 125
Nos.  6 Squared is  36 and Cubed is 216
Nos.  7 Squared is  49 and Cubed is 343
Nos.  8 Squared is  64 and Cubed is 512
Nos.  9 Squared is  81 and Cubed is 729
Nos. 10 Squared is 100 and Cubed is 1000
Nos. 11 Squared is 121 and Cubed is 1331
********************
Nos.  1 Squared is 1    and Cubed is 1
Nos.  2 Squared is 4    and Cubed is 8
Nos.  3 Squared is 9    and Cubed is 27
Nos.  4 Squared is 16   and Cubed is 64
Nos.  5 Squared is 25   and Cubed is 125
Nos.  6 Squared is 36   and Cubed is 216
Nos.  7 Squared is 49   and Cubed is 343
Nos.  8 Squared is 64   and Cubed is 512
Nos.  9 Squared is 81   and Cubed is 729
Nos. 10 Squared is 100  and Cubed is 1000
Nos. 11 Squared is 121  and Cubed is 1331
********************
Nos. 1 Squared is 1 and Cubed is    1
Nos. 2 Squared is 4 and Cubed is    8
Nos. 3 Squared is 9 and Cubed is   27
Nos. 4 Squared is 16 and Cubed is   64
Nos. 5 Squared is 25 and Cubed is  125
Nos. 6 Squared is 36 and Cubed is  216
Nos. 7 Squared is 49 and Cubed is  343
Nos. 8 Squared is 64 and Cubed is  512
Nos. 9 Squared is 81 and Cubed is  729
Nos. 10 Squared is 100 and Cubed is 1000
Nos. 11 Squared is 121 and Cubed is 1331

In [6]:
a11()    
print('Pi value is %1.50f' % (22 / 7))
# %f stands for floating point and
# 1.50 represents 1 character before and 50 characters
# after the decimal

# if any issue go to this link for more info
#  https://docs.python.org/2.4/lib/typesseq-strings.html #####

print('Pi value is {0:1.50}'.format(22 / 7))

********************
Pi value is 3.14285714285714279370154144999105483293533325195312
Pi value is 3.1428571428571427937015414499910548329353332519531